/** @define Grid */

$gutter-Grid: 1rem !default;

.Grid {
    display: flex;
    box-sizing: border-box;
}

// Modifier: align cell to center (by x-axis)
.Grid--alignCenter {
    justify-content: center;
}

// Modifier: align cell to right
.Grid--alignRight {
    justify-content: flex-end;
}

// Modifier: align cells to middle (by y-axis)
.Grid--alignMiddle {
    align-items: center;
}

// Modifier: align cells to bottom
.Grid--alignBottom {
    align-items: flex-end;
}

// Modifier: gutters.
.Grid--withGutter {
    margin-left: $gutter-Grid * -1;
    margin-right: $gutter-Grid * -1;
}

.Grid--withGutter > .Grid-cell {
    padding-left: $gutter-Grid;
    padding-right: $gutter-Grid;
}

.Grid-cell {
    box-sizing: border-box;

    // Prevent cells from collapsing.
    min-height: 1px;
}

// Modifier: fill remaining space.
.Grid-cell--fill {
    flex-grow: 1;
}

// Modifier: horizontally center the cell.
.Gird-cell--center {
    margin-left: auto;
    margin-right: auto;
}
