/** @define Overlay */

@import "~@barebone/var-z-index/index.scss";

$zIndex-Overlay: $zIndex-9 !default;
$padding-Overlay-content: 1rem !default;

.Overlay {
    position: fixed;
    top: 0;
    left: 0; /** @flipper ignore */
    z-index: $zIndex-Overlay;
    display: none;
    width: 100%;
    height: 100%;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;

    // Wrap long line to prevent content canvas overlapping.
    overflow-wrap: break-word;
    -webkit-overflow-scrolling: touch;

    // Prevent Chrome on Windows from adding a focus outline.
    // (see https://github.com/twbs/bootstrap/pull/10951)
    outline: 0;
}

.Overlay.is-open {
    display: flex;
}

// NOTE(1): You should control the width of dialog by setting
//       `max-width` (instead of `width`).
// Centering the element by both X- and Y-axises.
.Overlay-content {
    // Prevent dialog from collapsing.
    width: 100%; // 1
    padding: $padding-Overlay-content;
    margin: auto;
}
